/* style.css */
body {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	display:flex;
	background-color: #ffffff;
}

/* position image and dots */
/* .card,#agra,#aligarh,#lucknow{
	margin: 20px 20px;

} */

.card{
	padding:20px;
	border-radius:100px;
	background-color:#12b2ce;
	height:400px;
	width:fit-content;
	display:flex;
	justify-content:center;
	align-items:center;
}

#card_image{
	width:100%;
	height:100%;
}

#image{
	height:100%;
}
.selected_city{
  height: 100%;
  width: 100%;
  background-color: rgb(226, 74, 74);
  border-radius: 50%;
  display:inline-block;}

.unselected_city{
  height: 100%;
  width: 100%;
  background-color: rgb(241, 160, 160);
  border-radius: 50%;
  display:inline-block;}



/* position of Agra */
#agra{
	top: 212px;
	left: 60px;}

/* position of aligarh */
#aligarh{
	top: 168px;
	left: 67px;}

	
/* position of lucknow */
#lucknow{
	top: 230px;
	left: 220px;}

/* height and width of containers of discs */
#agra,#aligarh,#lucknow{
	cursor: pointer;
	height:10px;
	width:10px;
	position:absolute;

	/* background-color:green; */
	
	/* display: flex;
	justify-content: center;
	align-items: center; */}

.temp{
	margin-left:20px;
	box-shadow: 4px 8px 6px -2px #ccc;
}




/* bar chart starts*/

.progress_container {
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    width: 300px;
    height: 16px;
    }

.progress {
    background-color: rgb(232, 91, 48);
    border-radius: 20px;
	width: 20%;
    height: 16px;
}

.card1{
	margin-left:20px;
    height:240px;
	width:min-content;
    padding:10px 30px;
    background-color:rgb(220, 247, 220);
}

.subtitle{
    height:fit-content;
}

#progress_percentage{
	width:50px;
	font-size:14px;
	text-align:center;
}

/* bar chart ends */